In [78]:
# Exoplanet data analysis

In [1]:
import pandas as pd
import numpy as np
import requests

In [3]:
# Load data
response = requests.get('http://asterank.com/api/kepler?query={}&limit=5000')
df = pd.json_normalize(response.json())

In [4]:
df.head()

,KOI,A,DEC,RSTAR,TSTAR,KMAG,TPLANET,T0,UT0,PER,RA,UPER,RPLANET,MSTAR,ROW
0,1.01,0.036,49.3164,1.06,5814,11.338,1394.0,55.76257,0.00001,2.470613,19.12056,1.000000e-07,14.42,1.14,0
1,2.01,0.039,47.9695,2.71,6264,10.463,2303.0,54.35780,0.00002,2.204735,19.48315,1.000000e-07,22.29,1.36,1
2,3.01,0.052,48.0809,0.74,4766,9.147,794.0,57.81254,0.00004,4.887800,19.84729,6.000000e-07,4.67,0.71,2
3,4.01,0.056,38.9474,2.60,6391,11.432,1923.0,90.52592,0.00037,3.849372,19.62377,4.400000e-06,11.79,1.11,3
4,5.01,0.058,44.6474,1.42,5861,11.665,1279.0,65.97325,0.00022,4.780329,19.31598,3.000000e-06,5.65,1.14,4

In [6]:
df.describe()

,KOI,A,DEC,RSTAR,TSTAR,KMAG,TPLANET,T0,UT0,PER,RA,UPER,RPLANET,MSTAR,ROW
count,1000.000000,997.000000,1000.000000,1000.000000,1000.000000,1000.000000,997.000000,1000.000000,997.000000,1000.000000,1000.000000,9.940000e+02,1000.000000,1000.000000,1000.000000
mean,524.626710,0.142586,44.310105,1.010410,5430.200000,14.123589,800.295888,100.031228,0.002251,-598.328017,19.414849,1.460831e-01,4.570130,0.967380,499.561000
std,273.746972,0.332010,3.494802,1.009563,646.034614,1.330956,369.640640,32.806838,0.002147,19508.141099,0.324617,4.235251e+00,6.949693,0.187995,288.931458
min,1.010000,0.010000,36.577400,0.450000,3240.000000,8.224000,84.000000,53.565130,0.000010,-616880.000000,18.709420,1.000000e-07,0.340000,0.210000,0.000000
25%,280.760000,0.057000,41.552050,0.760000,5086.000000,13.492000,554.000000,74.204680,0.000860,5.004678,19.170980,1.802500e-05,2.020000,0.890000,249.750000
50%,532.510000,0.092000,44.090300,0.910000,5558.500000,14.405500,738.000000,104.073490,0.001740,10.606990,19.428610,5.375000e-05,2.620000,1.010000,499.500000
75%,758.260000,0.149000,47.238000,1.060000,5851.500000,15.114500,974.000000,109.345327,0.002960,21.392538,19.688925,1.585250e-04,4.100000,1.080000,749.250000
max,1096.010000,9.514000,52.149100,19.160000,9034.000000,16.422000,4859.000000,590.269390,0.018430,562.142445,20.076530,1.330000e+02,90.500000,1.840000,1060.000000

In [7]:
min_RPLANET_Df = min(df.RPLANET),
max_RPLANET_Df = max(df.RPLANET)

In [9]:
radius_range = (1, 10)

In [10]:
df[(df.RPLANET > radius_range[0]) & (df.RPLANET < radius_range[1])]

,KOI,A,DEC,RSTAR,TSTAR,KMAG,TPLANET,T0,UT0,PER,RA,UPER,RPLANET,MSTAR,ROW
2,3.01,0.052,48.0809,0.74,4766,9.147,794.0,57.81254,0.00004,4.887800,19.84729,6.000000e-07,4.67,0.71,2
4,5.01,0.058,44.6474,1.42,5861,11.665,1279.0,65.97325,0.00022,4.780329,19.31598,3.000000e-06,5.65,1.14,4
6,7.01,0.044,50.1358,1.27,5858,12.211,1386.0,56.61154,0.00041,3.213664,19.04102,4.200000e-06,3.72,1.08,6
14,41.01,0.111,41.9903,1.23,5909,11.000,869.0,55.95061,0.00160,12.815735,19.42573,5.260000e-05,2.08,1.11,14
15,41.02,0.073,41.9903,1.23,5909,11.000,1071.0,66.17580,0.00321,6.887099,19.42573,6.170000e-05,1.23,1.11,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,975.01,0.043,38.7140,2.04,6131,8.224,1863.0,193.83691,0.00144,2.785819,19.15745,1.680000e-05,1.72,1.05,992
996,981.01,0.055,44.7133,3.43,5189,10.733,1808.0,194.71717,0.00768,3.997802,18.91576,1.208000e-04,3.07,1.41,995
997,984.01,0.052,36.8399,0.92,5515,11.631,1023.0,195.06411,0.00027,4.287377,19.40325,4.600000e-06,3.19,1.15,996
998,986.01,0.076,38.0141,0.82,5250,14.138,760.0,193.86680,0.00165,8.187460,19.46173,4.900000e-05,1.85,0.88,997
999,986.02,0.337,38.0141,0.82,5250,14.138,361.0,94.71176,0.01024,76.050348,19.46173,2.191200e-03,1.54,0.88,998

In [11]:
df.head()

,KOI,A,DEC,RSTAR,TSTAR,KMAG,TPLANET,T0,UT0,PER,RA,UPER,RPLANET,MSTAR,ROW
0,1.01,0.036,49.3164,1.06,5814,11.338,1394.0,55.76257,0.00001,2.470613,19.12056,1.000000e-07,14.42,1.14,0
1,2.01,0.039,47.9695,2.71,6264,10.463,2303.0,54.35780,0.00002,2.204735,19.48315,1.000000e-07,22.29,1.36,1
2,3.01,0.052,48.0809,0.74,4766,9.147,794.0,57.81254,0.00004,4.887800,19.84729,6.000000e-07,4.67,0.71,2
3,4.01,0.056,38.9474,2.60,6391,11.432,1923.0,90.52592,0.00037,3.849372,19.62377,4.400000e-06,11.79,1.11,3
4,5.01,0.058,44.6474,1.42,5861,11.665,1279.0,65.97325,0.00022,4.780329,19.31598,3.000000e-06,5.65,1.14,4

In [12]:
bins = [0, 0.8, 1.2, 100]
names = ['small','similar','bigger']

In [17]:
df.RSTAR.describe()

count    1000.000000
mean        1.010410
std         1.009563
min         0.450000
25%         0.760000
50%         0.910000
75%         1.060000
max        19.160000
Name: RSTAR, dtype: float64

In [20]:
#Сreate star size category
bins = [0, 0.8, 1.2, 100]
names = ['small','similar','bigger']
df['StarSize'] = pd.cut(df.RSTAR, bins, labels=names)

In [21]:
# TEMPERATURE BINS
tp_bins = [0, 200, 400, 500, 5000]
tp_labels = ['t_low', 't_optimal', 't_high', 't_extreme']
df['temp'] = pd.cut(df.TPLANET, tp_bins, labels = tp_labels)

In [23]:
df.head()

,KOI,A,DEC,RSTAR,TSTAR,KMAG,TPLANET,T0,UT0,PER,RA,UPER,RPLANET,MSTAR,ROW,StarSize,temp,gravity
0,1.01,0.036,49.3164,1.06,5814,11.338,1394.0,55.76257,0.00001,2.470613,19.12056,1.000000e-07,14.42,1.14,0,similar,t_extreme,r_extreme
1,2.01,0.039,47.9695,2.71,6264,10.463,2303.0,54.35780,0.00002,2.204735,19.48315,1.000000e-07,22.29,1.36,1,bigger,t_extreme,r_extreme
2,3.01,0.052,48.0809,0.74,4766,9.147,794.0,57.81254,0.00004,4.887800,19.84729,6.000000e-07,4.67,0.71,2,small,t_extreme,r_extreme
3,4.01,0.056,38.9474,2.60,6391,11.432,1923.0,90.52592,0.00037,3.849372,19.62377,4.400000e-06,11.79,1.11,3,bigger,t_extreme,r_extreme
4,5.01,0.058,44.6474,1.42,5861,11.665,1279.0,65.97325,0.00022,4.780329,19.31598,3.000000e-06,5.65,1.14,4,bigger,t_extreme,r_extreme

In [24]:
df['status'] = np.where((df['temp'] == 't_optimal') & (df['gravity'] == 'r_optimal'), 'promising', None)

In [25]:
df['status'].value_counts()

promising    16
Name: status, dtype: int64

In [26]:
df['status'] = np.where((df['temp'] == 't_optimal') & (df['gravity'] == 'r_optimal'), 'promising', None)

In [27]:
df.loc[:,'status'] = np.where((df['temp'] == 't_optimal') & (df['gravity'].isin(['r_low','r_high'])), 'challenging', df['status'])

In [28]:
df['status'] = df.status.fillna('extreme')

In [29]:
df['status'].value_counts(dropna=False)

extreme        952
challenging     32
promising       16
Name: status, dtype: int64